.container {
    max-width: 1000px;
    padding: 40px 15px 26px 15px;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
}

.title {
    margin-left: 10px;
}

.name {
    margin-top: 20px;
}

.enumeration {
    margin-left: 50px;
}

.enumeration li {
    margin-top: 10px;
}
.enumeration li:first-child {
    margin-top: 0;
}

.comment {
    margin-top: 15px;
}

.text {
    background-color: rgba(255, 255, 255, 0.5);
    color: #2f343d;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
}