.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 64px;
    left: 0;
    transform: translateX(-130%);
    z-index: 20;
    transition: all .2s;
}
.menu.active {
    transform: translateX(-0);
}

.blur {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    position: absolute;
    left: 0;
}

.blur.active {
    left: 30%;
}

@media screen and (max-width: 540px){
    .blur.active{
        left: 40%;
    }
}
@media screen and (max-width: 400px){
    .blur.active{
        left: 50%;
    }
}
@media screen and (max-width: 340px){
    .blur.active{
        left: 60%;
    }
}

.content {
    width: 30%;
    height: 100%;
    background-color: rgb(203, 203, 203);
    color: #2f343d;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s;
}

@media screen and (max-width: 540px){
    .content {
        width: 40%;
    }
}
@media screen and (max-width: 400px){
    .content {
        width: 50%;
    }
}
@media screen and (max-width: 340px){
    .content {
        width: 60%;
    }
}


.links {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
}

.link {
    margin: 10px;
    list-style-type: none;
}

.name {
    text-decoration: none;
    color: black;
    margin-left: 15px;
}